{% extends 'lonfly/base.html' %}

{% block title %}修改密码{% endblock %}
{% block menu  %}change_password{% endblock %}
{% block menu_name %}{{ user.username }}{% endblock %}

{% block body_block %}
    <div class="container">
       <div class="card card-register mx-0 mt-3">
           <div class="card-header">修改密码</div>
           <div class="card-body">
               <p>{{ user.username }},请设置新密码!</p>
               <form id="change_password" method="post" action="/lonfly/change_password/" enctype="multipart/form-data">
                   {% csrf_token %}
                   <div class="form-group">
                       <div class="form-row">
                           <div class="col-md-6">
                               <label for="password1">请输入新密码：</label>
                               <input class="form-control" id="password1" type="password" name="password1"  placeholder="输入密码">
                           </div>
                           <div class="col-md-6">
                               <label for="password2">请再次输入新密码：</label>
                               <input class="form-control" id="password2" type="password" name="password2"  placeholder="确认密码">
                           </div>
                       </div>
                   </div>
                   {%  if error_msg %}
                   <p><font color="red">{{ error_msg }}</font></p>
                   {% endif %}
                   {% if success_msg %}
                   <p><font color="#1e90ff">{{ success_msg }}</font></p>
                   {% endif %}
                   <div class="text-center">
                       <input class="btn btn-primary" type="submit" name="submit" value="修改密码" />
                   </div>
               </form>
           </div>
       </div>
    </div>


{% endblock %}